body {
    margin: 0px;
    background-color: #0F1117;
}
.layar_utama {
    margin-bottom:20px;
    border-radius: 10px;
}
.layar_utama nav {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #171A23;
    color:#F5F7FA;
}
.layar_utama nav .info_link {
    color:#F5F7FA;
    font-size:1.5em;
    text-align: center;
    justify-content: space-between;
}
.layar_utama #teks_landing {
    text-align:center;
    border:#343A4A;
    border-radius: 10px;
    color:#F5F7FA;
}
.layar_utama #pengirim_data {
    text-align:center;
}
#popular_movies {
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}
#list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.movie {
    text-align: center;
    width:200px;
    background-color: #1C202B;
    border:#343A4A;
    border-radius: 10px;
    padding-top: 20px;
}
.judul {
    width: 154px;
    overflow-wrap: break-word;
    color:#F5F7FA;
    margin: auto;
}
.poster {
    display: block;
    margin: auto;
    border-radius: 10px;
}
#tombol_send {
    background-color: #6C63FF;
    color:#F5F7FA;
}
#input {
    background-color: #252A36;
    color: #F5F7FA;
}